/*colors predefined in functions.ts*/
:root {
  --color-target-level1: #00fff9;
  --color-target-level2: #00b8ff;
  --color-target-level3: #4900ff;
  --color-platform: #9600ff;
  --color-pit: #ff00c1;
  --color-points: #ff00c1;
  --color-level: #ff00c1;
  --color-wintext: #ff00c1;
  --color-background: black;
}

body {
  background-color: var(--color-background);
  overflow: hidden; /* Hide scrollbars */
}

#target {
  height: 15vmin;
  width: 15vmin;
  border-radius: 50%;
  background-color: var(--color-target-level1);
  position: absolute;
  top: 0;
  left: 0;
}

#platform {
  height: 2vmin;
  width: 50vmin;
  background-color: var(--color-platform);
  border-radius: 15px;
  position: absolute;
  top: 80%;
}

#pit {
  height: 5px;
  width: 100%;
  background-color: var(--color-pit);
  position: absolute;
  top: 90%;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5vmin;
  /*center content to the right*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#points {
  font-size: 2vmin;
  color: var(--color-points);
  font-family: "Lucida Console";
}

#level {
  font-size: 4vmin;
  color: var(--color-level);
  font-family: "Lucida Console";
}

#winText.hidden {
  display: none;
}

#winText {
  display: block;
  color: var(--color-wintext);
  font-family: "Lucida Console";
  font-size: 10vmin;
  /*to center*/
  position: absolute;
  top: 50%;
  left: 50%;
}
